INFLUX_PASSWORD=changeme123
INFLUX_ORG=factorysense
INFLUX_BUCKET=telemetry
INFLUX_TOKEN=devtoken_change_me_please
SENSOR_API_KEY=change_me_sensor_key
POSTGRES_USER=factorysense
POSTGRES_PASSWORD=changeme_postgres
POSTGRES_DB=factorysense
